.toubu{
	width: 100%;
	height: 1.26rem;
	position: relative;
	background: #101b76;
}
.fanhui{
	width: 0.44rem;
	height: 0.44rem;
	position: absolute;
	top: 0rem;
	bottom: 0rem;
	left: 0.24rem;
	margin: auto;
}
.fanhui img{
	width: 100%;
	height: 100%;
	display: block;
}
.youbian{
	width: 0.63rem;
	height: 0.51rem;
	position: absolute;
	top: 0rem;
	bottom: 0rem;
	right: 0.24rem;
	margin: auto;
}
.youbian img{
	width: 100%;
	height: 100%;
	display: block;
}
.toubuxia{
	width: 100%;
	height: 3.61rem;
	background: #fff;
	position: relative;
}
.kuang2{
	width: 0.94rem;
	height: 2.37rem;
	position: absolute;
	top: 1.14rem;
	left: 0rem;
}
.kuang2 img{
	width: 100%;
	height: 100%;
	display: block;
}
.kuang3{
	width: 5.21rem;
	height: 3.1rem;
	position: absolute;
	left: 0rem;
	right: 0rem;
	top: 0.51rem;
	margin: auto;
}
.kuang3 img{
	width: 100%;
	height: 100%;
	display: block;
}
.kuang4{
	width: 0.93rem;
	height: 2.4rem;
	position: absolute;
	top: 1.14rem;
	right: 0rem;
}
.kuang4 img{
	width: 100%;
	height: 100%;
	display: block;
}
.neirong1{
	margin-top: 0.78rem;
	width: 100%;
	height: 0.5rem;
	font-size: 0.36rem;
	color: #5e6061;
	line-height: 0.5rem;
	text-align: center;
}
.neirong2{
	width: 100%;
	height: 0.4rem;
	font-size: 0.24rem;
	color: #a9a2a2;
	line-height: 0.4rem;
	text-align: center;
}
.mima{
	width: 100%;
	height: 0.35rem;
	margin-top: 0.43rem;
}
.mima ul{
	width: 3.65rem;
	height: 100%;
	margin: 0 auto;
	font-size: 0.3rem;
	text-align: center;
	line-height: 0.35rem;
}
.mima ul li{
	width: 0.4rem;
	height: 100%;
	float: left;
	border-bottom: 0.06rem solid #ff1c7f;
}
.mima .li1{
	margin-left: 0.25rem;
}
.mima .li2{
	margin-left: 0.25rem;
	border-bottom: 0.06rem solid #35769c;
}
.mima .li3{
	margin-left: 0.25rem;
	border-bottom: 0.06rem solid #cfcdcd;
}