header{
	float: left;
	width: 100%;
	height: 1.11rem;
	background: #111b78;
	padding: 0 0.21rem;
}
.button1{
	width: 0.46rem;
	height: 0.46rem;
	margin-top: 0.25rem;
	float: left;
}
.button2{
	width: 0.48rem;
	height: 0.48rem;
	margin-top: 0.24rem;
	float: right;
	margin-left: 0.17rem;
}
.title{
	width: 2.95rem;
	height: 0.61rem;
	float: left;
	margin-top: 0.35rem;
	margin-left: 1.62rem;
	
}
.zi-1{
	width: 100%;
	height: 0.29rem;
	float: left;
}
.zi-2{
	width: 1.03rem;
	height: 0.21rem;
	float: left;
	margin-top: 0.11rem;
	margin-left: 0.96rem;
}
main{
	width: 100%;
	height: 6.6766rem;
	overflow: hidden;
	float: left;
}
main .yinying1{
	width: 6.21rem;
	height: 1.68rem;
	border-radius: 0.1rem;
	background: #f4f4f4;
	margin: 0 auto;
	margin-top: 0.21rem;
	box-shadow: 0 -0.1rem 0.3rem 0.03rem rgba(213, 213, 213, 0.8);
}
main .yinying2{
	width: 6.4122rem;
	height: 1.7366rem;
	border-radius: 0.1rem;
	background: #f4f4f4;
	margin: 0 auto;
	opacity: 0.8;
	margin-top: -1.54rem;
	box-shadow: 0 -0.1rem 0.3rem 0.02rem rgba(121, 121, 121, 0.3);
}
main .yinying3{
	width: 6.7rem;
	height: 4.9rem;
	border-radius: 0.1rem;
	border: 0.05rem solid #fff;
	background: #fff;
	margin: 0 auto;
	opacity: 1;
	z-index: 11;
	position: relative;
	margin-top: -1.59rem;
	box-shadow: 0 -0.1rem 0.4rem 0.05rem rgba(0, 0, 0, 0.4);
}
main .fenjian{
	width: 100%;
	height: 1.78rem;
	margin-top: -0.5rem;
	background: #1857c2;
	position: relative;
	z-index: 21;
}
main .kuang{
	width: 6.28rem;
	height: 1.34rem;
	margin: 0 auto;
	margin-top: -2.3rem;
	background: url('../img/tg-tu3_03.png');
	background-size: 100%;
	position: relative;
	z-index: 31;
}
main .kuang-wai{
	width: 4.82rem;
	height: 1.31rem;
	border-radius: 0.06rem;
	background: #fff;
	margin-top: -1.26rem;
	margin-left: 2.16rem;
	position: relative;
	z-index: 25;
	opacity: 0.6;
}
.touxiang{
	width: 0.96rem;
	height: 0.91rem;
	background: url('../img/tg-tou1_03.png');
	background-size: 100%;
	position: absolute;
	top: 0.07rem;
	left: 0.27rem;
}
.touxiang-tu{
	width: 0.77rem;
	height: 0.77rem;
	background: red;
	border-radius: 50%;
	position: absolute;
	top: 0.08rem;
	left: 0.07rem;
}
.xing{
	width: 0.76rem;
	height: 0.15rem;
	/* background: cyan; */
	position: absolute;
	left: 0.37rem;
	bottom: 0.12rem;
}
.xing1{
	width: 0.16rem;
	height: 0.15rem;
	float: left;
}
.xing2{
	width: 0.16rem;
	height: 0.15rem;
	float: left;
	margin-left: 0.04rem;
}
.songinfo{
	width: 2.58rem;
	height: 1.12rem;
	
	position: absolute;
	top: 0.14rem;
	left: 1.61rem;
}
.song-name{
	font-family: San Francisco Display;
	font-size: 0.2rem;
	color: #0167E4;
	font-weight: bold;
}
.song-name span{
	color: #FAEE25;
	font-weight: 200;
}
.songinfo .jiange{
	font-size: 0.2rem;
	color: #CFCFCF;
	height: 0.1rem;
	margin-top: -0.2rem;
}
.songinfo .jiange span{
	color: #545454;
	font-size: 0.22rem;
}
.songwrite{
	overflow: hidden;
	
	margin-top: 0.15rem;
}
.songwrite div.zi{
	float: left;
	font-size: 0.14rem;
	color: #717171;
}
.songwrite .hot{
	float: left;
	width: 0.23rem;
	height: 0.16rem;
	margin-top: 0.08rem;
	margin-left: 0.12rem;
}
.chengdu{
	overflow: hidden;
	height: 0.2rem;
	
}
.chengdu .huo{
	width: 0.15rem;
	height: 100%;
	float: left;
}
.chengdu .huo1{
	width: 0.15rem;
	height: 100%;
	float: left;
	margin-left: 0.05rem;
}
.chengdu .zi{
	float: left;
	overflow: hidden;
	font-size: 0.1rem;
	color: #FF2A57;
	font-family: San Francisco Display;
	line-height: 0.2rem;
	margin-left: 0.09rem;
}
.chengdu .zi span{
	font-weight: bold;
}
.like{
	overflow: hidden;
	margin-top: 0.05rem;
}
.like .xin{
	width: 0.22rem;
	height: 0.19rem;
	float: left;
}
.like .like-num{
	float: left;
	font-size: 0.16rem;
	color: #626368;
	margin-left: 0.06rem;
	line-height: 0.19rem;
}
.like .erji{
	width: 0.23rem;
	height: 0.23rem;
	float: left;
	margin-left: 0.21rem;
}
.hotlab{
	width: 0.53rem;
	height: 0.42rem;
	position: absolute;
	top: -0.04rem;
	right: 0.13rem;
}
.touxiangs{
	width: 1.02rem;
	height: 0.35rem;
	
	position: absolute;
	bottom: 0.1rem;
	right: 0.31rem;
}
.touxiangs .touxiang1{
	width: 0.34rem;
	height: 0.34rem;
	float: left;
	background: url('../img/tg-touxiangdi_03.png');
	background-size: 100%;
}
.touxiangs .yuan{
	width: 0.28rem;
	height: 0.28rem;
	border-radius: 50%;
	background: yellow;
	margin-top: 0.03rem;
	margin-left: 0.03rem;
}
.touxiangs .touxiang1 img{
	border-radius: 50%;
}
.touxiangs .touxiang2{
	width: 0.34rem;
	height: 0.34rem;
	float: left;
	background: url('../img/tg-touxiangdi_03.png');
	background-size: 100%;
	margin-left: -0.13rem;
}
.touxiangs .touxiang2 img{
	border-radius: 50%;
}
.xuanxiangka{
	width: 4.86rem;
	height: 0.61rem;
	
	margin-left: 1.32rem;
	margin-top: -0.31rem;
	float: left;
	position: relative;
	z-index: 33;
	background: url('../img/tg-xuan_03.png');
	background-size: 100%;
}
.xuanxiangka ul{
	width: 100%;
	height: 100%;
	padding: 0.05rem;
}
.xuanxiangka ul li{
	float: left;
	height: 100%;
	width: 33.333%;
	border-radius: 0.2rem;
	position: relative;
	background: url('../img/tg-xuan-btn_03.png');
	background-size: 100%;
}
.xuanxiangka ul li .zi{
	width: 0.87rem;
	height: 0.23rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	
	text-align: center;
	line-height: 0.23rem;
	font-family: 苹方 ;
	font-size: 0.24rem;
	color: #fff;
}
.xuanxiangka ul li .dian1{
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50%;
	float: left;
	margin-top: 0.09rem;
	background: #FF2182;
}
.xuanxiangka ul li .dian2{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	float: left;
	margin-top: 0.08rem;
	margin-left: 0.02rem;
	background: #FF2182;
}
.xuanxiangka ul li .dian3{
	width: 0.04rem;
	height: 0.04rem;
	border-radius: 50%;
	float: right;
	margin-top: 0.09rem;
	background: #FF2182;
}
.xuanxiangka ul li .dian4{
	width: 0.06rem;
	height: 0.06rem;
	border-radius: 50%;
	float: right;
	margin-top: 0.08rem;
	margin-right: 0.02rem;
	background: #FF2182;
}
.xuanxiangka ul li .zi1{
	width: 0.96rem;
	height: 0.34rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0 ;
	right: 0;
	margin: auto;
}
.xuanxiangka ul li:nth-child(2){
	background: none;
}
.xuanxiangka ul li:nth-child(1){
	background: none;
}
.chaoliu-title{
	width: 100%;
	height: 0.81rem;
	
	float: left;
	margin-top: 0.55rem;
}
.chaoliu-title-main{
	width: 6.91rem;
	height: 100%;
	margin: 0 auto;
}
.chaoliu-title-left{
	width: 2.86rem;
	height: 0.81rem;
	float: left;
}
.chaoliu-title-right{
	width: 0.21rem;
	height: 0.21rem;
	float: right;
	border-radius: 50%;
	margin-top: 0.3rem;
}
.chaoliu-main{
	width: 100%;
	height: 5.5rem;
	float: left;
	margin-top: 0.26rem;
	
}
.chaoliu-main1{
	width: 3.33rem;
	height: 5.05rem;
	border-radius: 0.08rem;
	margin-top: 0.23rem;
	margin-left: 0.26rem;
	float: left;
	background: #f9f9f9;
	box-shadow: 0 0 0.8rem 0.02rem rgba(0, 0, 0, 0.3);
	position: relative;
}
.chaoliu-main1-top{
	padding: 0.01rem 0;
	width: 100%;
	height: 1.42rem;
	border-radius: 0.08rem;
	background: #ff1c7f;
}
.song-zuozhe{
	width: 1.2rem;
	font-family: San Francisco Display;
	color: #fff;
	font-size: 0.22rem;
	margin: 0 auto; 
	margin-top: 0.34rem;
}
.chaoliu-xing{
	width: 0.88rem;
	height: 0.17rem;
	margin: 0 auto;
	margin-top: 0.06rem;
}
.chaoliu-xing1{
	width: 0.16rem;
	height: 0.17rem;
	float: left;
}
.chaoliu-xing1.xing2{
	margin-left: 0.02rem;
}
.chaoliu-center{
	width: 2.4rem;
	height: 2.9rem;
	margin: 0 auto;
	margin-top: -0.44rem;
	
	padding: 0.01rem 0;
}
.chaoliu-center1{
	width: 2.0116rem;
	height: 2.0156rem;
	border: 0.05rem solid #fff;
	margin: 0 auto;
	background: #fff;
	border-radius: 0.08rem;
	margin-top: 0.06rem;
	box-shadow: 0 0 0.8rem 0.02rem rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 999;
}
.chaoliu-center2{
	width: 1.9872rem;
	height: 1.9913rem;
	border-radius: 0.08rem;
	background: #fff;
	box-shadow: 0 0 0.8rem 0.02rem rgba(0, 0, 0, 0.3);
	margin-top: -1.86rem;
	margin-left: 0.32rem;
	position: relative;
	z-index: 888;
}
.chaoliu-center3{
	width: 1.8353rem;
	height: 0.205rem;
	background: #3c2db0;
	margin-top: -0.05rem;
	margin-left: 0.4rem;
	position: relative;
	z-index: 777;
	opacity: 0.6;
}
.guangpan{
	width: 1.7rem;
	height: 1.7rem;
	background: url('../img/tg-guangpan_03.png');
	background-size: 100%;
	margin-top: -1.2rem;
	margin-left: 0.46rem;
	position: relative;
}
.guangpan .yuan{
	width: 0.96rem;
	height: 0.96rem;
	border-radius: 50%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url('../img/tg-song-guangpan_06.png');
	background-size: 100%;
}
.guangpan-xin{
	width: 0.29rem;
	height: 0.29rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url('../img/tg-guangpan_06.png');
	background-size: 100%;
}
.chaoliu-bottom{
	width: 2.6rem;
	height: 0.91rem;
	margin: 0 auto;
	
	margin-top: 0.1rem;
}
.chaoliu-bottom-title{
	width: 100%;
	height: 0.32rem;
}
.chaoliu-bottom-zi{
	width: 1.41rem;
	height: 0.17rem;
	float: left;	
	margin-top: 0.08rem;
}
.chaoliu-bottom-huo{
	width: 0.7rem;
	height: 0.2rem;
	float: right;
	
}
.huo1{
	width: 0.15rem;
	height: 0.2rem;
	float: left;
}
.huo1.huo2{
	margin-left: 0.03rem;
}
.chaoliu-bottom .like{
	width: 2.6rem;
	height: 0.22rem;
	
	margin-top: 0.32rem;
}
.chaoliu-bottom .like .xin{
	width: 0.25rem;
	height: 0.22rem;
	float: left;
}
.chaoliu-bottom .like .like-num{
	float: left;
	font-size: 0.16rem;
	color: #626368;
	margin-left: 0.06rem;
	line-height: 0.19rem;
}
.chaoliu-bottom .like .erji{
	width: 0.22rem;
	height: 0.22rem;
	float: left;
	margin-left: 0.6rem;
}
.chaoliu-main1 .touxiang{
	width: 0.51rem;
	height: 0.51rem;
	border-radius: 50%;
	background: #ff1c7f;
	position: absolute;
	left: 0;
	right: 0;
	top: -0.26rem;
	margin: auto;
}
.chaoliu-main1 .touxiang .touxiang1{
	width: 0.38rem;
	height: 0.38rem;
	border-radius: 50%;
	border: 0.05rem solid #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.remen-title{
	width: 100%;
	height: 0.61rem;
	
	float: left;
	margin-top: 0.25rem;
}
.remen-title-main{
	width: 6.63rem;
	height: 100%;
	margin: 0 auto;
}
.remen-title-left{
	width: 2.81rem;
	height: 100%;
	float: left;
}
.remen-title-right{
	width: 0.21rem;
	height: 0.21rem;
	float: right;
	margin-top: 0.2rem;
}
.remen-main{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.remen-main-bj1{
	width: 1.5rem;
	height: 0.32rem;
	position: absolute;
	top: 1.1rem;
	right: 0.27rem;
	z-index: -1;
}
.remen-main-bj2{
	width: 1.5rem;
	height: 0.32rem;
	position: absolute;
	top: 4.8rem;
	left: 0.05rem;
	z-index: -1;
}
.remen-main1{
	width: 1.97rem;
	overflow: hidden;
	margin-top: 0.4rem;
	margin-left: 0.58rem;
	float: left;
	
}

.remen-main1-bj{
	width: 0.3rem;
	height: 0.07rem;
	position: absolute;
	top: 1.85rem;
	left: 2.26rem;
	z-index: -1;
}
.remen-main3-bj{
	width: 0.3rem;
	height: 0.07rem;
	position: absolute;
	top: 5.1rem;
	left: 2.26rem;
	z-index: -1;
}
.remen-main1-top{
	width: 1.71rem;
	height: 2.03rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	border-radius: 0.1rem;
	background: #fff;
	box-shadow: 0 0 0.2rem 0.02rem rgba(0, 0, 0, 0.3);
}
.remen-main1-top img{
	border-radius: 0.1rem;
}
.remen-main1-bottom{
	width: 1.69rem;
	height: 0.89rem;
	margin: 0 auto;
	margin-top: 0.14rem;
}
.remen-main1-bottom-zi{
	width: 1.61rem;
	height: 0.32rem;
	margin: 0 auto;
}
.remen-bottom-huo{
	width: 0.7rem;
	height: 0.19rem;
	margin: 0 auto;
	margin-top: 0.04rem;
}
.remen .remen-main1-bottom .like{
	width: 100%;
	height: 0.23rem;
	margin-top: 0.1rem;
}
.remen-main1.main2{
	margin-left: 0.15rem;
}
.remen-main1.main3{
	margin-top: 0.15rem;
}
.remen-main1.main2.main3{
	margin-top: 0.15rem;
}
.jiange{
	width: 100%;
	height: 1.78rem;
	float: left;
	margin-top: -1.6rem;
	position: relative;
	z-index: -1;
}
.finally{
	width: 100%;
	overflow: hidden;
	float: left;
	margin-bottom: 1.64rem;
}
.finally-top{
	width: 7.05rem;
	height: 1.88rem;
	margin: 0 auto;
	background: #fff;
	margin-top: 0.52rem;
	box-shadow: 0 0rem 0.3rem 0.04rem rgba(0, 0, 0, 0.2);
	position: relative;
}
.finally-top-left{
	width: 1.8rem;
	height: 1.6rem;
	border-radius: 0.1rem;
	float: left;
	background: #fff;
	margin-top: 0.1rem;
	margin-left: 0.1rem;
	position: relative;
	z-index: 20;
}
.finally-top-left1{
	width: 1.8rem;
	height: 1.6rem;
	border-radius: 0.1rem;
	background: #d5d5d5;
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	z-index: 0;
}
.finally-top-right{
	width: 3.46rem;
	height: 1.46rem;
	float: left;
	
	margin-top: 0.26rem;
	margin-left: 0.36rem;
}
.finally-top-right-top{
	width: 3.31rem;
	height: 1rem;

}
.finally-top-right-bottom{
	width: 3.44rem;
	height: 0.22rem;
	margin-top: 0.24rem;
}
.finally .hot{
	width: 0.62rem;
	height: 0.79rem;
	position: absolute;
	top: -0.16rem;
	right: 0.92rem;
}
.finally .bofang{
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	top: 0.65rem;
	right: 0.21rem;
}
.finally-top.bottom{
	margin-top: 0.2rem;
}
footer{
	width: 100%;
	height: 1.34rem;
	background: #121c7b;
	position: fixed;
	bottom: 0;
	z-index: 999;
}
footer .tubiao1{
	width: 0.88rem;
	height: 0.88rem;
	border-radius: 50%;
	float: left;
	margin-left: 0.64rem;
	margin-top: 0.23rem;
}
footer .tubiao2{
	width: 0.88rem;
	height: 0.88rem;
	border-radius: 50%;
	float: left;
	margin-left: 0.85rem;
	margin-top: 0.23rem;

}
